@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 0px 15px;
}

.header .right-links {
  display: flex;
  padding: 0px;
  margin-left: 15px;
}

.header .left-links {
  display: flex;
  padding: 0px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 15px;
  flex: 1;
}

.footer .right-links {
  display: flex;
  padding: 0px;
  margin-left: 15px;
}

.footer .left-links {
  display: flex;
  padding: 0px;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
